@media screen and (min-width: 320px) {
  .container,
  .contenedor,
  .home,
  .porque-elegirnos,
  .ultima-noticia {
    display: inline-block;
  }
}

@media screen and (min-width: 320px) {
  .porque-elegirnos {
    margin-top: 40%;
  }
}

@media screen and (min-width: 320px) {
  main,
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 320px) {
  .cards,
  .cards2,
  .cards3 {
    width: 90%;
  }
}

@media screen and (min-width: 320px) {
  header {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .propuesta-edu {
    width: 100%;
    border-radius: 5%;
  }
}

@media screen and (min-width: 320px) {
  .cards,
  .cards2,
  .cards3 {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 320px) {
  .home {
    height: 100%;
  }
}

@media screen and (min-width: 320px) {
  p {
    font-size: 14px;
  }
}
